#Python thing
__pycache__
.idea

#VIM Temporary FIle
*.*~

#IDE
.vscode

#Repository of test files
testFile/

#File of self commentaries to improve the api
to_improve.txt

#Serverless stuff
.serverless
node_modules
package.json
package-lock.json